---
interface Props {
  className: string;
  type: 'submit' | 'reset' | 'button';
};

const { className, type } = Astro.props;
---

<button class:list={[className, 'btn']} type={type}>
  <slot />
</button>
