.expert-levels-card {
    display: flex;
    gap: 32px;
    width: 100%;
    opacity: 0;
    min-height: 449px;
    $root: &;

    @include vp-1023 {
        gap: 24px;
        min-height: 361px;
        margin: 0 0 40px;
    }

    @include vp-767 {
        flex-direction: column-reverse;
    }

    transition: opacity $transition-300-ease-in, visibility $transition-300-ease-in;

    &.is-active {
        transition: opacity $transition-300-ease-in 0.3s, visibility $transition-300-ease-in 0.3s;
    }

    &__inner {
        width: 100%;
        padding: 48px;
        background-color: $color-cultured;
        border-radius: 32px;

        @include vp-1023 {
            padding: 32px;
        }
    }

    &__title {
        margin: 0 0 32px;
        font-size: 32px;
        font-weight: 500;
        line-height: 36px;

        @include vp-1023 {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__info-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    &__info-item {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        padding: 0 0 0 32px;
        position: relative;

        @include vp-1023 {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__icon {
        position: absolute;
        top: 1px;
        left: 0;
        width: 20px;
        height: 20px;
    }

    &__swiper {
        width: 100%;
        max-width: 468px;
        overflow: hidden;
        position: relative;

        @include vp-1279 {
            max-width: 368px;
        }

        @include vp-1023 {
            max-width: 276px;
        }

        @include vp-767 {
            max-width: unset;
        }
    }

    &__img-wrap {
        border-radius: 32px;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background: linear-gradient(180deg, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8575805322128851) 100%);
        }
    }

    &__img {
        height: 100%;

        @include vp-1023 {
            width: 100%;
        }
    }

    &__desc {
        position: absolute;
        left: 0;
        bottom: 40px;
        z-index: 20;
        display: block;
        padding: 0 80px 0 22px;

        @include vp-1023 {
            padding: 0 16px;
        }
    }

    &__picture-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        color: $color-default-white;
        margin: 0 0 8px;

        @include vp-1023 {
            font-size: 16px;
            margin: 0 0 10px;
        }
    }

    &__picture-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $color-default-white;
        max-width: 350px;
        margin: 0;

        @include vp-1023 {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__company-logo {
        position: absolute;
        bottom: 46px;
        right: 28px;
        z-index: 20;
        border-radius: 50%;
        width: 42px;
        height: 42px;

        @include vp-1023 {
            bottom: unset;
            top: 16px;
            right: 26px;
        }

        @include vp-767 {
            right: 16px;
        }
    }

    &__bullets {
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        gap: 6px;
        padding: 0 22px;

        @include vp-1023 {
            padding: 0 16px;
        }
    }

    &__bullet {
        border: none;
        background-color: $color-shuttle-grey;
        height: 3px;
        flex-grow: 1;
        cursor: pointer;
        border-radius: 10px;
        max-width: 80px;
        position: relative;

        &::after {
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 20px;
        }

        &::before {
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: calc((var(--progress)) * 100%);
            height: 100%;
            background-color: $color-default-white;
            border-radius: 10px;
        }
    }

    .swiper-pagination-bullets {
        top: unset;
        bottom: 22px;
        width: 100%;
    }
}

