.expert-card {
  display: flex;
  gap: 24px;
  padding: 8px 32px 8px 8px;
  max-width: 868px;
  height: 100%;
  background-color: $color-white-smoke;
  border-radius: 32px;
  $root: &;

  @include vp-1023 {
    gap: 24px;
    padding: 8px;
    max-width: 636px;
    max-height: 292px;
  }

  @media (max-width: 670px) {
    flex-direction: column;
    max-width: 315px;
    max-height: unset;
    min-height: 100%;
  }

  @media (max-width: 354px) {
    max-width: 270px;
  }

  &__inner {
    position: relative;
    flex-shrink: 0;
    width: 292px;
    min-height: 364px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $color-default-white;
    pointer-events: none;

    @include vp-1023 {
      width: 218px;
      min-height: 276px;
    }

    @media (max-width: 670px) {
      width: 299px;
      height: 276px;
    }

    @media (max-width: 354px) {
      width: 254px;
      height: 276px;
    }
  }

  &__pict {
    display: contents;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__icon {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 42px;
    height: 42px;
    pointer-events: none;
    border-radius: 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 36px 0 0;

    @include vp-1023 {
      padding: 34px 0 0;
    }

    @media (max-width: 670px) {
      padding: 0 24px 24px;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    margin: 0 0 28px;

    @include vp-1023 {
      margin: 0 0 22px;
      gap: 8px;
    }

    @media (max-width: 670px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    user-select: none;

    @include vp-1023 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__tag-list {
    display: flex;
    gap: 13px;
    margin: 0;
    padding: 0 15px 0 0;
    list-style-type: none;

    @include vp-1023 {
      flex-shrink: 0;
      gap: 8px;
    }
  }

  &__tag {
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $color-default-white;
    background-color: $color-default-black;
    border-radius: 20px;
    pointer-events: none;

    @include vp-1023 {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    user-select: none;

    @include vp-1023 {
      gap: 2px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__paragraph-link {
    position: relative;
    color: $color-default-black;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $color-default-black;
      opacity: 1;
      transition: opacity $transition-300;
    }

    @include hover-focus {
      outline: none;

      &::after {
        opacity: 0;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 16px;
    margin: auto 0 24px;
    padding: 0;
    list-style-type: none;

    @include vp-1023 {
      margin: auto 0 0;
    }
  }

  &__socials-link {
    @include hover-focus {
      outline: none;

      #{$root}__socials-icon { 
        color: $color-nobel;
      }
    }
  }

  &__socials-icon {
    width: 28px;
    height: 28px;
    color: $color-default-black;
    transition: color $transition-300;
  }
}