---
import Container from "@/components/Container/Container.astro"
import FeedbackForm from "@/components/FeedbackForm/FeedbackForm.astro"
---

<section class="become-expert">
  <Container>
    <div class="become-expert__wrapper">
      <div class="become-expert__inner">
        <h3 class="become-expert__title">Как стать экспертом Skillbox</h3>
        <p class="become-expert__text">
          Если хотите стать частью сообщества Skillbox Experts, 
          заполните форму&nbsp;&mdash; и&nbsp;мы&nbsp;с&nbsp;вами свяжемся
        </p>
      </div>
      <FeedbackForm />
    </div>
  </Container>
</section>

