---
import { Icon } from "astro-icon/components";
import Images from "../Images/Images.astro";
---

<div class="select-country">
  <Images 
    imagePath="/src/images/flags/ru.png" 
    altText="Иконка флага страны" 
    className="select-country__img"
  />
  <Icon class="select-country__icon" name="icon-arrow-down" />
</div>
